<\Doctypehtml>
<html lang >en
<head>
*.meta cuset 
<viewport / content = Utf on the point>
# Compiled Object files
*.slo
*.<meta name viepoint cursel >
viiepoint 
*.<Hello world >
*.<This is my first html coding website>
# <im learning web3 technology 
*.gch
*.pch
#<html coding will be bihnd on it>
*.<ilk> button click meh>?

# <Debugger skill h3>
*.

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# <p6 my columb>
*.dwo
